@import "~bootstrap/dist/css/bootstrap.css";

body {
  background: url("pictures/books3.jpg") no-repeat center center fixed Highlight;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}
