<div class="container">
  <div class="row">
    <div class="offset-3"></div>
    <div class="col-md-6">


      <form name="magazinesForm" (submit)="create()">
        <div *ngFor="let formValue of form">
          <div class="form-group" *ngIf="formValue['type']['name'] === 'boolean'">
            <label for="{{formValue['label']}}">{{formValue['label']}}</label>
            <input type="checkbox" class="form-control" [name]="formValue['label']"
                   [(ngModel)]="formValue['value']['value']">
          </div>
          <div class="form-group" *ngIf="formValue['type']['name'] === 'enum'">
            <label for="{{formValue['label']}}">{{formValue['label']}}</label>
            <select [(ngModel)]="formValue['value']['value']" name="Nacin_naplacivanja">
              <option *ngFor="let recenzent of recenzenti" [value]="recenzent[0]">{{recenzent[1]}}</option>
            </select>
          </div>
        </div>
        <button class="btn btn-secondary" type="submit">Odabir</button>
      </form>
    </div>
  </div>
</div>
